body{
    width:80%;
    background-color:#EEEEEE;
    margin:auto;
    text-align:center;
}

h2{
    display:block;
    color:#FFFFFF;
    background-color:#000000;
    font-size: 150%;
    width:50%;
    margin: auto;
    margin-top:50px;
    margin-bottom:50px;
}

button{
    width: 30%;
    background-color:aqua;
    color: #000000;
}

p{
    width: 50%;
    background-color: black;
    color: #FFFFFF;
    margin: auto;
    margin-top:50px;
    height:100px;
    padding-top:50px;
    font-size:200%;
}

.open{
    display: block;
}

.close{
    display: none;
}